/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #1DB954, #191414); /* Spotify green to black gradient */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

/* Container styling */
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

/* Header */
h1, h2 {
    color: #1DB954;
    text-align: center;
    margin-bottom: 15px;
}

/* Filter button styling */
.filter-button {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    background-color: #7d00e4;
    margin: 5px;
    display: inline-block;
    align-items: center;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.filter-button:hover {
    background-color: #400073;
    transform: scale(1.05);
}

.active {
    background-color: #400073;
}

/* List of items */
ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li img {
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

li strong {
    font-size: 1.1rem;
    color: #333;
    margin-right: 10px;
}

audio {
    margin-top: 5px;
    width: 100%;
}

/* Top section items */
#top-tracks img, 
#top-artists img, 
#top-albums img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    .container {
        width: 100%;
        padding: 15px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    li img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    audio {
        width: 100%;
    }
}
